.header {
    display: flex;
    justify-content: space-between;




    &__logo img {

        @media only screen and (max-width: $bp-large) {
            width: 20rem;
        }

        @media only screen and (max-width: $bp-large) {
            padding-bottom: 1rem;
        }

    }

}