.line {
    position: relative;
    background-color: $color-dark;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-large) {
        margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        margin-bottom: 1rem;
    }


    &__contact {
        i {
            margin-right: 1.5srem;
        }

    }

    &__follow {
        text-align: right;

        i {
            margin-left: 2rem;
        }
    }

    &__text {
        color: $color-white;
        display: inline-block;
        margin: .5rem 2rem;
    }

    &__row {
        @media only screen and (max-width: $bp-large) {
            flex-wrap: nowrap;
        }
    }

}