.line {
    position: relative;
    background-color: $color-dark;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-large) {
        margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        margin-bottom: 1rem;
        justify-content: center;
    }

    @media only screen and (max-width: $bp-mob) {
        display: none;
    }


    &__contact {
        i {
            margin-right: 1.5rem;

            @media only screen and (max-width: $bp-smallest) {
                margin: 0 .5rem;

                &:first-child {
                    margin-left: 1rem;
                }
            }
        }

    }

    &__follow {
        text-align: right;

        i {
            margin-left: 2rem;

            @media only screen and (max-width: $bp-smallest) {
                margin-left: 1rem;

                &:last-child {
                    margin-right: 1rem;
                }
            }
        }
    }

    &__text {
        color: $color-white;
        display: inline-block;
        margin: .5rem 2rem;

        @media only screen and (max-width: $bp-smallest) {
            margin: .5rem .5rem;
        }
    }

    &__row {
        @media only screen and (max-width: $bp-large) {
            flex-wrap: nowrap;
        }
    }

}