.heading-1 {
    color: $color-dark;
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-2 {
    color: $color-dark;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-3 {}

.heading-4 {
    color: $color-white;
    text-transform: uppercase;
}

.heading-5 {
    color: $light-text;
}

.heading-6 {
    color: $color-white;
    text-transform: uppercase;
}